body{
  overflow-x: hidden;
}
.jumbotron{
  margin:0 auto;
  color:white;
  font-weight: bold;
  border-radius: 20px;
}
.cover{
border-radius: 12px;
}

ul{
  display:flex;
   list-style-type: none;
  flex-wrap:wrap;
  justify-content: center;
  justify-content: space-between;
  margin-top:1rem;

}
.time{
  margin-top:1rem;
}

.flex-item{
  display:flex;
  flex-wrap:wrap;

  margin-bottom: .5rem;

}
.allnews{
  display: flex;
}
.header_txt{
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 15px;
  color: #ffffff;
}

.header_txt:hover{
  background-color: #9ae79d;
  color: green;
  font-size: 15px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
.search-button{
  margin-top: .9rem;
  margin-bottom: 2rem;
}
.search-bar{
  margin-top:1rem;
}

@media(max-width:500px){
  ul{
    justify-content: space-between;
  }
  

}